{% extends "wrapper.layout.jinja" %}

{% block wrapper %}
  <h1>{{room.name}}</h1>
  <p style="font-size:0.9em; color: #333; line-height: 1.5em">{{room.description}}</p>
  <form action="" method="post">
    <label for="user_password">
    {% if not error_wrong_password %}
      Someone already registered that name. If it was you, enter the password.
    {% else %}
      Incorrect password.
    {% endif %}
    </label>
    <input type="password" id="user_password" name="user_password" />
    <input type="hidden" name="user_name" value="{{user_name}}" />
    <input type="submit" class="submit" value="Enter">
  </form>
  <p style="font-size:0.9em; color: #777">{{headcount}}</p>
  <p style="font-size:0.8em; color: #999">(<a href="/{{room.name_encoded}}">Pick a different name.</a>)</p>
{% endblock %}

{% block styles %}
  #wrapper form input#user_password {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 3px;
    font-size: 14pt;
    font-weight: bold;
  }
{% endblock %}

{% block scripts %}
  <script type="text/javascript" charset="utf-8"
    src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
  <script type="text/javascript" charset="utf-8">
    $('user_password').focus();
  </script>
{% endblock %}