<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% if room %}{{room.name}} &mdash; {% endif %}Razgovore</title>
    <link rel="stylesheet" href="/static/razgovore.css"
      type="text/css" media="screen" charset="utf-8" />
  </head>
  <body{% if room %} room="{{room.name_encoded}}"{% endif %}{% if User %} user="{{User.name}}"{% endif %}>
    <div id="wrapper">
      <div id="header">
        <h1>{{room.name}}</h1>
        <h2>
          <span id="topic" can_set="{{User.can_set_topic(room)}}">{{room.topic}}</span>
        </h2>
      </div>
      <div id="body">
        <div id="primary">
          <div id="transcript"><!-- <img src="/static/images/loading.gif" /> --><table></table></div>
          
          <div id="new_message">
            <form id="new_message_form" onsubmit="return false;">
            <!-- <textarea id="message" rows="4" cols="40"></textarea> -->
            <input type="text" id="message" />
            <input type="submit" class="submit" value="Say it">
            </form>
            <img src="/static/images/loading.gif" alt="Loading... " id="loading" />
          </div>
        </div>
        <div id="sidebar">
          <div id="users">
            <h3>In attendance:</h3>
            <ul></ul>
          </div>
          {% if room.is_latex_on %}
            <p class="help">If you know what it is, you can use <code>$\LaTeX$</code> here (just surround it with dollar signs like that). If you want to write a dollar sign, you have to use <code>\$</code>. Sorry.</p>
          {% endif %}
          <div id="account">
            <h3>Your password</h3>
          {% if not User.password %}
            <p>You don't have a password yet. Click <a href="#" id="register_link">here</a> to set one.</p>
          {% else %}
            <p>Click <a href="#" id="register_link">here</a> to change your password.</p>
          {% endif %}
            <form id="register" onsubmit="return false;">
              <p><input type="password" name="password" id="password" size="16" /></p>
              <p id="hint" style="padding-left: 10px; color: #666">at least 5 characters</p>
              <p><input type="submit" value="Save" /></p>
            </form>
          </div>
          <p style="text-align:right"><a href="/{{room.name_encoded}}/leave">Leave&rarr;</a></p>
        </div>
      </div>
      <div id="footer">
        <p>{{VERSION}}</p>
      </div>
    </div>
    <script type="text/javascript" charset="utf-8"
      src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
    <script type="text/javascript" charset="utf-8"
      src="/static/soundmanager2.js"></script>
    <script type="text/javascript" charset="utf-8"
      src="/static/application.js?{{date().timestamp()}}"></script>
    <script type="text/javascript" charset="utf-8">
      Application.init();
    </script>
  </body>
</html>