{% extends "wrapper.layout.jinja" %}

{% block title %}Razgovore{% endblock %}

{% block wrapper %}
  <p style="margin: 0px; font-size: 0.9em">Welcome to Razgovore, a web-based group chat application. Feel free to enter one of the public rooms below.</p>
  <p style="margin: 10px">&#167;</p>
{% for room in active_rooms %}
  <h2><a href="/{{room.name_encoded}}">{{room.name}}</a></h2>
  <p class="description">{{room.description}}</p>
{% endfor %}
{% if User.can_create_room() %}
  <p style="margin: 10px"><a href="/new">new room</a></p>
{% endif %}
{% endblock %}

{% block styles %}
  #wrapper p {
    line-height: 1.5em;
  }
    #wrapper p.description {
      margin: 5px 0px 10px;
    }
    #wrapper h2 {
      margin: 0px;
      font-size: 16pt;
    }
{% endblock %}