{% extends "wrapper.layout.jinja" %}
{% block wrapper %}
  <h1>New Room</h1>
  <form action="" method="post">
    <label for="name">
{% if error_name_taken %}
      That name is already taken.
{% elif error_name_length %}
      That name is too long.
{% else %}
      What do you want to call it?
{% endif %}
    </label>
    <input type="text" id="name" name="name" />
    <label for="description">Give a brief description.</label>
    <input type="text" id="description" name="description" />
    <label for="is_latex_on" class="checkbox">Enable LaTeX?</label>
    <input type="checkbox" id="is_latex_on" name="is_latex_on" />
    <input type="submit" class="submit" value="Create">
  </form>
{% endblock %}
{% block styles %}
  #wrapper form input#name,
  #wrapper form input#description {
    display: block;
    width: 200px;
    margin: 0 auto 10px;
    text-align: center;
    padding: 3px;
    font-size: 14pt;
    font-weight: bold;
  }
  #wrapper form input#description {
    width: 250px;
  }
{% endblock %}
{% block scripts %}
  <script type="text/javascript" charset="utf-8"
    src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js"></script>
  <script type="text/javascript" charset="utf-8">
    $('name').focus();
  </script>
{% endblock %}