<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% if room %}{{room.name}} &mdash; {% endif %}Razgovore{% endblock %}</title>
    <style type="text/css" media="screen">
      html, body {
        margin: 0;
        background-color: rgb(241, 240, 253);
        font-family: 'Lucida Grande', Verdana, sans-serif;
        font-size: 12pt;
      }
        #wrapper {
          width: 300px;
          margin: 50px auto;
          padding: 10px;
          background-color: #FFFFFF;
          border: 7px solid rgb(224, 232, 241);
          text-align: center;
        }
          #wrapper h1 {
            margin: 0px 0px 10px;
            font-size: 16pt;
          }
          #wrapper form {
            margin: 0;
          }
              #wrapper form label {
                display: block;
                margin-bottom: 10px;
              }
              #wrapper form input.submit {
                display: block;
                margin: 0 auto;
                margin-top: 10px;
              }
      a:link,
      a:visited {
        color: #0000FF;
      }
{% block styles %}{% endblock %}
    </style>
  </head>
  <body>
    <div id="wrapper">
{% block wrapper %}
{% endblock %}
  </div>
{% block scripts %}{% endblock %}
  </body>
</html>