html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0 0 0 white;
}

  #wrapper_box {
    width: 400px;
    margin: 75px auto;
    text-align: center;
  }

p {
  line-height: 1.5em;
}

a:link,
a:visited,
a:hover {
  text-decoration: underline;
  color: blue;
}